* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.banner {
    height: 100px;
}

.navbar {
    overflow: hidden;
    background-color: goldenrod;
  }

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.describe {
    border: 5px dotted red;
}

.my-work {

}

.navbar a:hover {
    background-color: #ddd;
    color: black;
  }

img {
    width: 300px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
    padding-bottom: 50px;
}

h2 {
   text-align: center;
}