* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    justify-content: space-around;
    background-color: #bf3636;
}

.banner {
    height: 100px;
}

.navbar {
    overflow: hidden;
    background-image: linear-gradient(#ffafbd, #ffc3a0);
  }

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.name {
  float: left;
  display: block;
  color: brown;
  text-align: center;
  padding: 14px 16px;
}

.describe {
    border: 5px solid maroon;
}

.contact-me a {
    border: 5px dotted limegreen;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
  }

img {
    width: 300px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
    padding-bottom: 50px;
}

h2 {
   text-align: center;
}

#contact-me {
    overflow: hidden;
    background-color: linear-gradient(#ffafbd, #ffc3a0);
  }

#contact-me a {
  float: initial;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#contact-me a:hover {
    background-color: grey;
    color: black;
  }
  
#my-work {
    display: flex;
    justify-content: space-between;
}

footer {
    flex-shrink: 0;
}

#title {
    color: black;
}
